<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuite name="DotsUnited\BundleFu Test Suite">
        <directory suffix="Test.php">./tests/DotsUnited/BundleFu/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/DotsUnited/BundleFu/</directory>
        </whitelist>
    </filter>
</phpunit>
